{% extends 'layout.html.twig' %}

{% block head %}
    <title>404 - La page demandée n'existe pas</title>
{% endblock %}

{% block mainContent %}
    <p class='alert'>La page demandée n'existe pas.</p>
    <p><a href="?p=home">Cliquez ici pour retourner à l'accueil</a></p>
{% endblock %}
