{% extends 'layout.twig' %}

{% import 'form.twig' as form%}

{% block head %}
    <title>Connection</title>
{% endblock %}

{% block mainContent %}
    <!-- HTTP request can only have one verb, but this way I can use both of them (GET for the action and POST for the form) -->
    <div class="container">
        <h4>Se connecter</H4>
        <form action="?p=connection" method="POST">
            {{ form.inputField("Login", "login", "text") }}
            {{ form.inputField("Mot de passe", "password", "password") }}
            {{ form.submitBtn() }}
        </form>
    </div>
    
{% endblock %}