{% extends 'layout.twig' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block mainContent %}
 <!-- Last News section -->
    <section id="lastNews" class="col-md-11">
        <h2>Dernières Actualités :</h2>
        <article class="news">
        <h3 class="news-title">News Title</h3>
        <p class="news-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ab rerum reprehenderit odio fugit beatae, cumque repellat sed? Obcaecati, delectus ex!</p>
        <a href="#">> Read more</a>
        </article>
        <article class="news">
        <h3 class="news-title">News Title 2</h3>
        <p class="news-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ab rerum reprehenderit odio fugit beatae, cumque repellat sed? Obcaecati, delectus ex!</p>
        <a href="#">> Read more</a>
        </article>
    </section>
{% endblock %}