{% extends 'layout.html.twig' %}

{% import 'form.twig' as form%}

{% block head %}
    <title>Connection</title>
{% endblock %}

{% block mainContent %}
    {% if error is defined %}
    <div class="error">
        <p class="error-red"> {{ error.errorMessage }} </p>
    </div>
    {% endif %}
    <div class="container">
        <h4>Se connecter</h4>
        <form action="" method="POST">
            {{ form.inputField("Login", "login", "text") }}
            {{ form.inputField("Mot de passe", "password", "password") }}
            {{ form.submitBtn() }}
        </form>
        <a class="link" href="/register">Inscription</a>
    </div> 
{% endblock %}